:root {
    --yellow: hsl(51, 100%, 49%);
    --red: hsl(7, 99%, 70%);
    --dark-cyan: hsl(167, 40%, 24%);
    --cyan: hsl(168, 34%, 41%);
    --dark-blue: hsl(198, 62%, 26%);
    
    --dark-gray: hsl(212, 27%, 19%);
    --gray-blue: hsl(210, 4%, 67%);
    --mobile-width: 375px;
    --desktop-width: 1440px;

    --normal-font-size: 2vmin;
}

p {
    font-family: 'Barlow';
    color: var(--gray-blue);
    font-size: var(--normal-font-size);
    line-height: calc(var(--normal-font-size) * 1.4);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fraunces';
    color: var(--dark-gray);
}

h1 {
    font-size: calc(4 * var(--normal-font-size));
}

h2 {
    font-size: calc(2.8 * var(--normal-font-size));
}

h3 {
    font-size: calc(2.5 * var(--normal-font-size));
}

h4 {
    font-size: calc(2.2 * var(--normal-font-size));
}

h5 {
    margin-top: 5vmin;
    margin-bottom: 5vmin;
    font-size: calc(1.8 * var(--normal-font-size));
}

h6 {
    margin-top: 4vmin;
    margin-bottom: 4vmin;
    font-size: calc(1.2 * var(--normal-font-size));
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin bg-image {
    background-size: cover;
    background-repeat: no-repeat;    
}


// Landing 
// These styles determine the landing hero image
// as well as the navbar


.landing {
    @include bg-image;
    min-height: 100vh;
    color: white;
}

.nav {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    @include flex-row();
    justify-content: space-between;
}

.nav__items {
    list-style-type: none;
    @include flex-row();

}

.nav__item {
    margin-right: 15px;
    margin-left: 15px;
}

.landing__title {
    text-align: center;
    letter-spacing: 4px;
    padding-top: 60px;
}

/*
Grid 
*/ 

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.service {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service__text_wrapper {
    width: 60%;
}

.service__bg {
    background-size: cover;
    background-repeat: no-repeat;  
    width: 100%;
}

.service__img__text_wrapper {
    width: 50%;
    text-align: center;
    p {
        color: var(--dark-gray);
    }
}

[data-bg="graphic"] {
    justify-content: flex-end;
    @include bg-image;
    padding-bottom: 8vmin;
}
[data-bg="photography"] {
    justify-content: flex-end;
    @include bg-image;
    padding-bottom: 8vmin;
}

.link {
    font-family: 'Fraunces';
    font-size: calc(0.8 * var(--normal-font-size));
    text-transform: uppercase;
    position: relative;
    padding-left: 1.6vmin;
    padding-right: 1.6vmin;
    z-index: 9;

    &::after {
        content: "";
        background-color: var(--red);
        opacity: 0.2;
        position: absolute;
        left: 0%;
        bottom: -15%;
        width: 100%;
        height: 1.3vmin;
        z-index: -1;
    }

    &:hover {
        cursor: pointer;
        color: var(--dark-cyan);
        &::after {
            opacity: 0.5;
        }
    }
}

/*
    Testimonials
*/

.testimonial {
    padding: 15vmin;

    h5 {
        text-align: center;
        color: var(--gray-blue);
        letter-spacing: 4px;
    }
}

.testimonial__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vmin;
    text-align: center;
}

.testimonial__item {
    margin-top: 8vmin;

    img {
        width: 12vmin;
        clip-path: circle(50% at 50% 50%);
    }

    p {
        margin-top: 8vmin;
        margin-bottom: 8vmin;
        color: var(--dark-gray)
    }

    h6 {
        margin-top: 6vmin;
        margin-bottom: 2vmin;
    }

    span {
        color: var(--gray-blue)
    }
}